<section class="block container">
	<div class="block__wrapper">
		<div class="block__left">
			<h2 class="block__header">Надежные серверы для проектов любой сложности</h2>
			<p class="block__description">Выделенный сервер — это аренда сервера под задачи вашего проекта с
				возможностью
				свободно распоряжаться ресурсами машины и установки любого программного обеспечения.</p>
			<button class="block__button button"> Готовые серверы</button>
		</div>

		<div class="block-right">
			<img src="https://raw.githubusercontent.com/alexandershubin/filter_jn_js/master/source/img/image.png" alt="image" width="380" height="363">
      </div>
		</div>
</section>